html {
  height: 100%;
  width: 100%;
  background-color: #fffbf4;
}

body{
  margin: 0;
  background-color: #fffbf4;
}

/* ヘッダー */

.header{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #d0917c;
  width: 100%;
  height: 80px;
  z-index: 2;
}

.header span{
  color: #ffffff;
  text-align: center;
  width: 25%;
  margin: 0;
  position: absolute;
  right: 9px;
  top: 0;
  font-size: 16px;
}

.catchCopy{
  position: absolute;
  left: 0;
  top: -10px;
  text-align: center;
  color: #ffffff;
  padding: 5px;
  width: 70%;
  font-weight: bolder;
  font-size: 20px;
}

#dateBox{
  text-align: center;
  color: #ffffff;
  width: 25%;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  font-weight: bold;
}

/* 更新ボタン */
#reloadButton{
  position: fixed;
  right: 5px;
  top: 85px;
  z-index: 2;
  border: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background-color: #d0917c;
  padding: 1px 1px 0 0;
  cursor: pointer;
}

#reloadButton img{
  width: 25px;
  height: 25px;
}

#reloadButton:hover{
  background-color: #d6a695;
}

/* タブ基本設定 */

.tab-link {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  height: 25px;
  width: calc(100% / 5);
  position: absolute;
  bottom: 0;
}

#homeTab{
  left: 0;
}

#scheduleTab{
  left: calc(100% / 5);
}

#EnglishTab{
  left: calc(100% / 5 * 2);
}

#classPaperTab{
  left: calc(100% / 5 * 3);
}

#mailaddressTab{
  left: calc(100% / 5 * 4);
}

.tab-link.active {
  background-color: #d67171;
}

.tab-link:hover{
  background-color: #e68484;
}

.tab-link.active:hover{
  background-color: #d67171;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  width: calc(100% - 10px);
  padding: 5px;
  height: 100%;
  z-index: 1;
  background-color: #fffbf4;
}

/* ホーム */

.homeTitle{
  margin: -5px -5px 0 -5px;
  background-color: #f4efe8;
  color: #565656;
  font-size: x-large;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  height: 30px;
}

/* ニュースリスト */

.newsList{
  width: 100%;
  height: auto;
  margin: 10px 0 0 0;
  padding-left: 0;
}

.newsList li{
  list-style: none;
  width: 100%;
  height: 30px;
  color: #707070;
  border-bottom: 1px solid #707070;
}

/* テーブルなど諸設定 */

p{
  margin: 0;
  color: #707070;
}

tr,td{
  border: solid 1px #565656;
  text-align: center;
  border-collapse: collapse;
}

th{
  color: #565656;
  border: solid 1px #565656;
  text-align: center;
  border-collapse: collapse;
}

table{
  width: 100%;
  margin: 0 0 10px 0;
  border: solid 2px #565656;
  text-align: center;
  border-collapse: collapse;
  color: #707070;
  background-color: #fffbf4;
}

caption{
  font-size: x-large;
  color: #565656;
}

/* A4フォーマット */

.A4Paper{
  width: 315px;
  height: 445.5px;
  background-color: #ffffff;
  margin-left: calc((100% - 315px) / 2);
  margin-top: 10px;
}

/* ヘッドライン */

.headLine{
  border-left: 3px solid #d17456;
  padding-left: 10px;
  margin: 10px 3px 3px 3px;
  color: #565656;
}

/* ニュースボックス */

.newsBox{
  width: calc(100% - 15px);
  height: auto;
  border: 3px solid #736357;
  padding: 5px;
  margin: 0 0 10px 0;
}

.newsBoxTitle{
  margin: -5px 0 0 -5px;
  background-color: #736357;
  width: calc(100% + 10px);
  height: 30px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

/* メニュー */
.menu{
  display: block;
  width: calc(100% - 14px);
  height: auto;
  border: 2px solid #736357;
  padding: 5px;
  margin: 10px 0 0 0;
  border-radius: 10px;
  background-color: #f4efe8;
}

.menuTitle{
  margin: 0 0 0 5px;
  width: 100%;
  height: 30px;
  font-size: 20px;
  color: #707070;
}

.menu ul,li{
  margin: 3px;
  font-size: 16px;
}

.menu li{
  border-bottom: 1px #707070 dashed;
  padding-bottom: 5px;
  font-weight: bold;
  margin-bottom: 8px;
}

.menu li:hover{
  color: #9c9c9c;
}

.menu a{
  text-decoration: none;
  color: #707070;
}

/* 時間割 */
.button{
  width: 180px;
  height: 30px;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #736357;
  border-radius: 10px;
  padding: 5px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.button:hover{
  background-color: #a08f83;
}

iframe{
  margin-top: 10px;
  width: calc(100% - 5px);
  height: 100%;
  border: 2px solid #736357;
}

/* コピー処理用 */

.copyElement{
  cursor: pointer;
}

.copyElement:hover{
  background-color: #f2efe8;
}

#copyMessageBox{
  position: fixed;
  width: auto;
  height: auto;
  top: 85px;
  right: 5px;
  background-color: #d0917c;
  padding: 5px 3px;
  border-radius: 5px;
  display: none;
}

.copyMessage{
  font-size:normal;
  color: #ffffff;
}

#copiedMailaddress{
  font-weight: bold;
}

.gradeChange td{
  cursor: pointer;
}

.gradeChange td:hover{
  background-color: #f2efe8;
}

#secondGrade{
  background-color: #736357;
  color: #ffffff;
}

.gradeChange caption{
  border-top: 3px solid #736357;
}
