html {
  height: 100%;
  width: 100%;
  background-color: #fffaf4;
}

body{
  margin: 0;
  background-color: #fffaf4;
}

/* ヘッダー */

.header{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #d0917c;
  width: 100%;
  height: 80px;
  z-index: 2;
}

.header span{
  color: #ffffff;
  text-align: center;
  width: 25%;
  margin: 0;
  position: absolute;
  right: 9px;
  top: 0;
  font-size: 16px;
}

.catchCopy{
  position: absolute;
  left: 0;
  top: -10px;
  text-align: center;
  color: #ffffff;
  padding: 5px;
  width: 70%;
  font-weight: bolder;
  font-size: 20px;
}

#dateBox{
  text-align: center;
  color: #ffffff;
  width: 25%;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 18px;
  font-weight: bold;
}

/* タブ基本設定 */

.tab-link {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  margin: 0;
  height: 25px;
  width: calc(100% / 4);
  position: absolute;
  bottom: 0;
}

#homeTab{
  left: 0;
}

#scheduleTab{
  left: calc(100% / 4);
}

#EnglishTab{
  left: calc(100% / 4 * 2);
}

#classPaperTab{
  left: calc(100% / 4 * 3);
}

.tab-link.active {
  background-color: #d67171;
}

.tab-link:hover{
  background-color: #e68484;
}

.tab-link.active:hover{
  background-color: #d67171;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
  position: absolute;
  top: 80px;
  left: 0;
  width: calc(100% - 10px);
  padding: 5px;
  height: 100%;
  z-index: 1;
  background-color: #fffaf4;
}

/* ホーム */

.homeTitle{
  margin: -5px -5px 0 -5px;
  background-color: #f4efe9;
  color: #565656;
  font-size: x-large;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

/* テーブルなど諸設定 */

p{
  margin: 0;
  color: #707070;
}

tr,td{
  border: solid 1px #565656;
  text-align: center;
  border-collapse: collapse;
}

th{
  color: #565656;
  border: solid 1px #565656;
  text-align: center;
  border-collapse: collapse;
}

table{
  width: 100%;
  margin: 0;
  border: solid 2px #565656;
  text-align: center;
  border-collapse: collapse;
  color: #707070;
  background-color: #fffaf4;
}

caption{
  font-size: x-large;
  color: #565656;
}

/* A4フォーマット */

.A4Paper{
  width: 315px;
  height: 445.5px;
  background-color: #ffffff;
  margin-left: calc((100% - 315px) / 2);
  margin-top: 10px;
}

/* ヘッドライン */

.headLine{
  border-left: 3px solid #d17456;
  padding-left: 10px;
  margin: 10px 3px 3px 3px;
  color: #565656;
}

/* ニュースボックス */

.newsBox{
  width: calc(100% - 15px);
  height: auto;
  border: 3px solid #736356;
  padding: 5px;
  margin: 0;
}

.newsBoxTitle{
  margin: -5px 0 0 -5px;
  background-color: #736356;
  width: calc(100% + 10px);
  height: 30px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
}

/* バス時刻表 */
